<h1>Rate this pic or leave a comment!</h1>

<img src="<%=@photo.content%>" class="album-photo">

<%# render 'comment_input' %>

<div class ="comment-div">
	<p>Leave Feedback:</p>
	<textarea class= "comment-input">
		
	</textarea>
	<%# render @comments %>
</div>

<%= link_to 'Index of Users', users_path %>
<%= link_to 'Home', root_path %>
<%= link_to 'Logout', logout_path %>
<%= link_to 'Albums Index', albums_path %>
