<h1> Index of All Albums </h1> 

<% @albums.each do |album| %>
<p><%= album.name %>:</p>
<img src="<%= album.cover_photo %>"> 
</br>
<%= link_to 'Edit An Album', album_photos_path(album) %>
</br>
<%= link_to 'View Album', album_path(album) %>
<% end %>

<%= link_to 'Users Index', users_path %>
<%= link_to 'Home', root_path %>
<%= link_to 'Logout', logout_path %>
<%= link_to 'Create a New Album', new_album_path %>
